/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* Tema de Cores (variáveis) */

:root {
  --main-color: #647bff;
  --body-color: #090a1a;
  --container-color: #171b3c;
  --heading-color: #222231;
  --box-color: #0d0f26;
  --bg-color: #fff;
  --hover-color: #546eff;
}

/* Definições Gerais */

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  color: var(--bg-color);
  background: var(--body-color);
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--heading-color);
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: auto;
  width: 100%;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(100%, 100%, 100% / 0.7);
  backdrop-filter: blur(30px);
  border-bottom: 1px solid rgba(100, 123, 255, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  font-family: "Abril Fatface", cursive;
  font-size: 1.7rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color);
  letter-spacing: 1px;
}

.logo span {
  color: var(--bg-color);
  -webkit-text-stroke: 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.1rem;
  color: var(--bg-color);
}

.nav-link:hover {
  color: var(--main-color);
  background-color: var(--container-color);
  transition: 0.3s all linear;
}

/* Menu Icon */

.menu-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}

.menu-icon div {
  display: block;
  background-color: var(--bg-color);
  height: 2px;
  width: 24px;
  transition: 0.3s;
}

.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.blur {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 1000px 50px var(--main-color);
  z-index: -100;
}

/* Home */

.home {
  /* min-height: 600px; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 9rem;
}

.home-content {
  position: relative;
  /* max-width: 600px; */
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.home-img {
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--main-color);
  overflow: hidden;
  margin-bottom: 2rem;
}

.home-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.home-text h3 {
  position: relative;
  display: flex;
  /* align-items: center; */
  column-gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--main-color);
}

/* .home-text h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: -15px;
  width: 20px;
  height: 3px;
  background: var(--main-color);
}

.home-text h3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -35px;
  width: 20px;
  height: 3px;
  background: var(--main-color);
} */

.home-text h2 {
  font-weight: 500;
  font-size: 3.7rem;
  line-height: 4rem;
  margin-bottom: 1.2rem;
}

.home-text p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.home-text .color {
  color: var(--main-color);
}

.btn-home {
  width: 230px;
  text-align: center;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}

.social .bx {
  font-size: 1.3rem;
  padding: 0.7rem;
  /* border-radius: 50%; */
  border-radius: 0.2rem;
  color: var(--bg-color);
  background: var(--box-color);
}

.social .bx:hover {
  background-color: var(--container-color);
  transform: scale(1.1);
  transition: 0.3s all linear;
}

/* Heading */

.heading {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 2rem;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.about-data span {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-color);
}

.about-data h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 500;
  margin: 1rem 0;
}

.btn {
  font-size: 0.97rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--bg-color);
  background-color: var(--main-color);
  padding: 1rem 1.7rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

.btn .bx {
  font-size: 1.2rem;
}

.btn:hover {
  background-color: var(--hover-color);
  transition: 0.3s all linear;
}

.about-text p {
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 1.2rem;
}

/* Services */

.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 15px; */
  padding: 1.7rem;
  background: var(--container-color);
  border: 1px solid transparent;
  border-radius: 0.2rem;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box:hover {
  border: 1px solid var(--bg-color);
  transform: scale(1.05);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box .bx {
  font-size: 1.5rem;
  /* color: var(--main-color); */
  color: var(--bg-color);
  padding: 1rem;
  /* border-radius: 5rem; */
  background-color: var(--box-color);
  border-radius: 0.2rem;
  /* border: 2px dashed var(--bg-color); */
  margin-bottom: 1rem;
}

.services-box h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.services-box p {
  font-size: 1rem;
}

/* Portfolio */

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 320px; */
  /* border-radius: 1rem; */
  border-radius: 0.2rem;
  overflow: hidden;
  border: 1px solid #171b3c;
  padding: 2rem;
}
.portfolio-box span {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: var(--main-color);
}

.portfolio-box p {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.portfolio-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsla(234, 45%, 16%, 0.7);
  backdrop-filter: blur(10px);
}

.portfolio-overlay h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.portfolio-overlay .overlay-links {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.portfolio-overlay .bx {
  font-size: 24px;
  padding: 10px;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 2px;
}

.portfolio-overlay .bx:hover {
  background: var(--hover-color);
  transition: 0.3s all linear;
}

.portfolio-box:hover .portfolio-overlay {
  top: 0;
  transition: 0.3s all ease;
}

/* Contact Form */

.contact-form {
  max-width: 600px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 15px;
  color: var(--bg-color);
  background: var(--box-color);
  border-radius: 0.4rem;
}

.contact-form .send-btn {
  width: 120px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  background-color: var(--main-color);
}

.contact-form .send-btn:hover {
  background: var(--hover-color);
  transition: 0.3s all linear;
}

.proposta {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.proposta h2 {
  font-weight: 400;
  font-size: 2.5rem;
}

.proposta-img {
  margin-top: 3rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--main-color);
  overflow: hidden;
  margin-bottom: 1rem;
}

.proposta-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

/* Footer */

.footer {
  border-top: 1px solid rgba(100, 123, 255, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.4rem;
  padding: 30px 0;
}

.footer h3 {
  font-weight: 400;
}

.foonter p {
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.footer-links a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--bg-color);
}

.footer-links a:hover {
  color: var(--main-color);
  transform: 0.3s all linear;
}

/* Scroll Top */

.scroll-top {
  position: fixed;
  bottom: -100%;
  right: 1.5rem;
}

.scroll-top .bx {
  padding: 8px;
  font-size: 1.3rem;
  color: var(--bg-color);
  background-color: var(--box-color);
  border-radius: 0.2rem;
}

.scroll-top .bx:hover {
  background-color: var(--container-color);
  transition: 0.3s;
}

.scroll-active {
  bottom: 2rem;
  transform: 0.3s;
}

/* Responsive */

@media (max-width: 990px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 892px) {
  section {
    padding: 2rem 0;
  }
  .nav {
    padding: 12px 0;
  }
  .heading {
    font-size: 4rem;
  }

  .portfolio-box {
    height: 257px;
  }
}

@media (max-width: 775px) {
  .logo {
    font-size: 1.1rem;
  }
  .home {
    min-height: 500px;
    padding-top: 6rem;
  }
  .home-text h3 {
    font-size: 1.2rem;
  }
  .home-text h2 {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
  .home-text p {
    font-size: 0.95rem;
  }
  .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-box {
    height: 245px;
  }
  .proposta h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .menu-icon {
    display: flex;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    /* background-color: rgba(13, 15, 38, .7); */
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .open-menu {
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-links {
    display: block;
    margin: 1rem 0;
  }
}

@media (max-width: 635px) {
  .about-content {
    grid-template-columns: 1fr;
  }
  .about-data span {
    font-size: 0.9rem;
  }
  .about-data h2 {
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 600;
    margin: 0.8rem 0;
  }
  .about-text p {
    font-size: 0.92rem;
    margin-bottom: 1.3rem;
  }
}

@media (max-width: 450px) {
  .home {
    min-height: 480px;
    padding-top: 5rem;
  }
  /* .home-img {
    width: 100px;
    height: 100px;
  }
  .home-img img {
    width: 100px;
    height: 100px;
  } */
  .home-text h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .home-text p br {
    display: contents;
  }
  .heading {
    font-size: 3rem;
  }
  .about-data h2 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin: 0.6rem 0;
  }
  .services-content,
  .portfolio-content {
    grid-template-columns: 1fr;
  }
  .proposta h2 {
    font-size: 2.1rem;
    line-height: 3.2rem;
  }
  /* .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  } */
}

@media (max-width: 325px) {
  .navbar {
    width: 100%;
  }
  .portfolio-box {
    height: 190px;
  }
}
